// Custom scheme implemented as per these directions: https://github.com/pmarsceill/just-the-docs/blob/master/docs/customization.md#custom-schemes
$content-width: 64rem; // 1024px / 16px

// The site header needs to be taller due to the lengthy title.
.site-header {
  min-height: 6.25rem !important; // 100px / 16px
}

// Make the blockquote visually more noticeable than the default Just the Docs styling provides
blockquote {
  background: $grey-lt-000;
  border-left: 0.5rem solid $blue-200; // 8px / 16px
  margin: 0.625rem 0.625rem 1.25rem 1.25rem; // 10px / 16px, 20px / 16px
  padding: 0.03125rem 0.625rem; // 0.5em 10px / 16px

  p {
    margin: 0;
  }
}