{
    "swagger": "2.0",
    "info": {
        "title": "Star Wars API",
        "version": "1.0"
    },
    "host": "fusion-apis.azure-api.net",
    "basePath": "/sw",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "apiKeyHeader": {
            "type": "apiKey",
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header"
        },
        "apiKeyQuery": {
            "type": "apiKey",
            "name": "subscription-key",
            "in": "query"
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ],
    "paths": {
        "/people/": {
            "get": {
                "description": "Get characters from the Star Wars Universe",
                "operationId": "getpeople",
                "summary": "GetPeople",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/people/{id}": {
            "get": {
                "description": "Get individual characters from the Star Wars Universe",
                "operationId": "getpeoplebyid",
                "summary": "GetPeopleById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        }
    },
    "definitions": {},
    "tags": []
}